---
// @ts-ignore
import { Icon } from "astro-icon/components";

export interface Props {
  locale: string;
  t: (key: string) => string;
}

const { locale, t } = Astro.props;
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">{t('home.partners')}</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <img class="size-8 md:size-12 rounded-full filter grayscale" src="https://www.juniper.net/favicon.ico" alt="Juniper Networks" />
    <img class="size-8 md:size-12 rounded-full filter grayscale" src="https://support.edcl.io/api/v1/system_assets/product_logo/6ce74091be007e39f7438a4aaa8faef5.png" alt="EDCL" />
    <img class="size-8 md:size-12 rounded-full filter grayscale" src="https://www.dcconnectglobal.com/wp-content/uploads/2024/01/dcconnectglobal_logo-1-jpeg.webp" alt="DC Connect" />
    <img class="size-8 md:size-12 rounded-full filter grayscale" src="https://www.equinix.com/etc.clientlibs/eqxcorp/clientlibs/clientlibs-resources/resources/favicon-228.png" alt="Equinix" />
    <Icon class="size-8 md:size-12" name="simple-icons:cloudflare" />

  </div>
</div>
